.git
.gitignore
.vs
.vscode

**/bin
**/obj
**/out
**/TestResults

webapp/node_modules
webapp/.angular
webapp/dist
webapp/coverage

**/*.db
**/*.db-shm
**/*.db-wal
**/*.db-journal

.env
.env.*
!.env.example

*.pfx
*.publishsettings
*.user
*.suo
*.log
